@use "../base/mixins" as *;
@use "../base/variables" as *;

.district {
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1280px;

  &__title {
    font-family: $font-primary;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-pink-dark;
    margin-bottom: 15px;
    @include font-size(26);
  }

  &__intro {
    max-width: 800px;
    margin: 0 0 40px;
    font-family: $font-secondary;
    line-height: 1.5;
    color: $color-pink-dark;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;

    @include desktop {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        gap: 30px;
    }
}

  &__item {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
  }

  &__imgWrap {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: 1px solid $color-pink-dark;
  }

  &__img { object-fit: cover; }

  &__itemTitle {
    margin-top: 20px;
    font-family: $font-primary;
    color: $color-pink-dark;
    font-weight: 600;
    @include font-size(18);
    text-align: left;
  }

  &__itemDesc {
    font-family: $font-primary;
    color: $color-pink;
    @include font-size(14);
    margin-top: 10px;
    text-align: left;
  }
}
