@use "../base/mixins" as *;
@use "../base/variables" as *;

.flat {
  padding: 50px 20px;           /* même padding que le titre */
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px solid $color-pink-dark;;
  @include desktop {
    padding: 80px 20px; 
  }

  &__title {
    margin-bottom: 30px;
    font-family: $font-primary;
    font-weight: 700;
    color: $color-pink-dark;
    text-transform: uppercase;
    @include font-size(22);
    @include desktop { @include font-size(26); }
  }

  /* Slider aligné au titre (compensation exacte) */
 &__slider {
  .slick-slide {
    padding: 0 6px;
  }
  .slick-list {
    margin: 0 -6px;
  }

  @include desktop {
    .slick-slide {
      padding: 0 12px;
    }
    .slick-list {
      margin: 0 -12px;
    }
  }
}

&__imgWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4; // portrait
  overflow: hidden;
  box-shadow: 0 8px 24px $shadow-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

&__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

  &__item { /* vide volontairement */ }

  &__imgWrap {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;       /* portrait */
    overflow: hidden;
    box-shadow: 0 8px 24px $shadow-light;
  }

  // &__overlay {
  //   position: absolute;
  //   inset: 0;
  //   background: rgba(223, 64, 64, 0.3);
  //   transition: opacity 180ms ease;
  // }

  &__imgWrap:hover .flat__overlay { 
    @include desktop { 
      opacity: 0; 
    }
  }
}

.flat__slider :global(.slick-dots) {
  bottom: -28px; 

  li {
    margin: 0 6px;
    width: 15px;
    height: 15px;
    button { 
      width: 15px;
      height: 15px;
    }
    button:before {
      font-size: 14px;             
      color: $color-pink-dark;     
      opacity: 0.6;
      transition: all .2s ease;
    }

    &.slick-active button:before {
      font-size: 18px;            
      color: $color-pink-dark;     
      opacity: 1;
    }
  }
}
