@use "../base/variables" as *;
@use "../base/mixins" as *;

.presentation {
  padding: 50px 20px;
  width: 100%;
  background-color: $color-blue-dark;
  @include desktop {
    padding: 50px 20px 70px; 
  }

  &__title {
    font-weight: 700;
    margin-bottom: 1rem;
    color: $color-white;
    @include font-size(22);
    text-transform: uppercase;
    text-align: center;
    @include font-size(26);
  }

  &__text {
    margin: 0 auto;
    max-width: 850px;
    @include font-size(16);
    line-height: 2;
    color: $color-white;
    text-align: center;
  }
}
